.container{
    text-align: center;
}

.center{
    color: black;
    text-align: center;
    padding: 10px;
}

.row{
    color: green;
    background-color: orangered;
    padding-left: 5%;
    padding-top: 2px;
    height: auto;
}

.button{
    height:50px;
    width: 50px;
    color: black;
    margin: 5px 5px;
    border: 2px solid black;
    border-radius: 8px;
}

.row input{
    width: 240px;
    height: 35px;
    border: 2px solid black;
    border-radius: 9px;
    
}
